* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: 'Fira Sans', sans-serif;
  color: #333;
  /* border: 1px solid red; */
}

body {
  background-color: rgb(250, 249, 246);
}

p {
  font-size: 1rem;
}

button {
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1.2rem;
  border-radius: 6px;
}

a {
  text-decoration: none;
}
